@model IvritSchool.Entities.Message

@{
    ViewBag.Title = "EditUser";
}

<h2>Добавление сообщения</h2>

@using (Html.AjaxBeginForm("AddMessageToDay", new AjaxOptions { UpdateTargetId = "Result", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="dayID" value="@ViewBag.Day" />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">Тип сообщения</label>
                <select name="Type" class="form-control" asp-for="Type" asp-items="@ViewBag.MessageTypes"></select>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="mb-3">
                <input type="hidden" asp-for="@Model.ID" />
                <label for="formGroupExampleInput">Текст сообщения</label>
                <textarea class="form-control" rows="7" cols="100" asp-for="@Model.Text" placeholder=""></textarea>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">Выберите файл для загрузки</label><br />
                <input type="file" name="uploadedFile" /><br>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">
                    VIP
                    <input asp-for="@Model.VIP">
                </label>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">
                    Введите ID пересылаемого сообщения
                    <input asp-for="@Model.ForwardedMessage">
                </label>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">
                    Введите ID группы пересылаемого сообщения
                    <input asp-for="@Model.ForwardedGroup">
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Добавить" />
        </div>
    </div>
}
<div>
    <h3 id="Result"></h3>
</div>


