@model IvritSchool.Entities.Message[]
@{
    ViewBag.Title = "AdminUserPanel";

    string GetName(int messageType)
    {
        switch (messageType)
        {
            case 1: return "Текcтовое сообщение";
            case 2: return "Аудио сообщение";
            case 3: return "Файловое сообщение";
            case 4: return "Видео сообщение";
            case 5: return "Фото сообщение";
        }
        return "Неопознаное сообщение";
    }
}

<h2>Все сообщения учебного дня(@Model.Count())</h2>
<br />
<br />
<a href="@Url.Action("AddMessageToDay", "Home", new { dayID = ViewBag.DayId })">Добавить сообщение</a>
<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">VIP</th>
            <th scope="col">Тип сообщения</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var el in Model)
        {
            <tr>
                <th scope="row">@el.ID</th>
                <td>@(el.VIP == true ? "ДА":"НЕТ")</td>
                <td>@GetName((int)el.Type)</td>
                <td><a href="@Url.Action("EditMessage", "home", new { messageID = @el.ID })">Редактировать</a></td>
                <td>
                    <form asp-action="DeleteMessage" asp-controller="home">
                        <input type="hidden" value="@el.ID" name="messageID" />
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>