@model IvritSchool.Entities.PayedUsers

@{
    ViewBag.Title = "EditUser";
}

<h2>Редактирования оплченного пользователя @(Model.Name == null ? "" : Model.Name)</h2>
<br />

@using (Html.AjaxBeginForm("EditPayedUser", new AjaxOptions { UpdateTargetId = "Result", HttpMethod = "POST" }))
{
    <input type="hidden" name="ID" value="@Model.ID">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">Имя</label>
                <input type="text" class="form-control" value="@Model.Name" name="Name" placeholder="" required>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">Фамилия</label>
                <input type="text" class="form-control" value="@Model.SureName" name="SureName" placeholder="" required>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">Почта</label>
                <input type="email" class="form-control" value="@Model.Email" name="Email" placeholder="" required>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">Начало учебы</label>
                <input type="datetime" class="form-control" value="@Model.StartFrom" name="StartFrom" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">Выберите статус</label>
                <div>
                    <select class="form-control" asp-for="@Model.ClientStatus" asp-items="ViewBag.UserStatuses"></select>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Изменить" />
}
<div>
    <h3 id="Result"></h3>
</div>