@model IvritSchool.Entities.BotUser[]
@{
    ViewBag.Title = "AdminUserPanel";
}

<h2>Все пользователи бота(@Model.Count())</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">First Date</th>
            <th scope="col">Telegramm Id</th>
            <th scope="col">Редактировать</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var el in Model)
        {
            if (el.IsBanned)
            {
                <tr style="background:#FFCCCC">
                    <th scope="row">@el.ID</th>
                    <td>@el.Name</td>
                    <td>@el.FirstDate</td>
                    <td>@el.TID</td>
                    <td><a href="@Url.Action("EditUser", "home", new { Id = @el.ID })">Edit</a></td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">@el.ID</th>
                    <td>@el.Name</td>
                    <td>@el.FirstDate</td>
                    <td>@el.TID</td>
                    <td><a href="@Url.Action("EditUser", "home", new { Id = @el.ID })">Edit</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<small>*Светло Красный цвет - пользователь забанен</small>